
        <footer>
            <div class="footer-content">
                <nav class="footer--links">
                    <a href="/conditions-generales-de-vente">Conditions générales de vente</a>
                    <a href="/mentions-legales">Mentions légales</a>
                    <a href="/politique-de-confidentialite">Politique de confidentialité</a>
                    <a href="/contact">Contact</a>
                </nav>
            </div>
            <div class="footer-bottom">
                <p>2025 O'Coffee. Tous droits réservés.</p>
            </div>
        </footer>
    </div>
        <script src="/js/header.js"></script>
</body>
</html>