<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/svg" href="/var/www/html/S09/Projet-S09-NicolasDorwald/app/intégration/images/logo.svg">
    <title>O'Coffee</title>
</head>
<body>
    <div class="page">
        <header>
            <div class="logo">
                <img src="./images/logo.svg" alt="Logo de la boutique O'Coffee" width="80px">
                <h1>O'Coffee</h1>
            </div>
            <nav class="nav--links">
                <a href="./index.html">Accueil</a>
                <a href="./catalogue.html">Catalogue</a>
                <a href="#">Boutique</a>
                <a href="./entreprise.html">Qui sommes-nous ?</a>
            </nav>
        </header>
        <main>
            <section class="page--catalogue">
                <div class="one--product">
                    <img src="./images/coffees/327302954.png">
                    <div class="produit">
                        <time>publié le 25/05/2025</time>
                        <h4>nom de l'article</h4>
                        <p>Lorem ipsum, dolor sit amet 
                            consectetur adipisicing elit. 
                            Eius mollitia veritatis.
                            Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Maxime quis, 
                            consectetur eveniet vel quas hic quam 
                            voluptatem cumque quod eligendi necessitatibus 
                            inventore saepe alias ipsa? Fugiat 
                            maxime aperiam cum expedita?
                        </p>
                        <a href="./catalogue.html">Catalogue</a>
                    </div>                       
                </div>
            </section>
        </main>
        <footer>
            <div class="footer-content">
                <nav class="footer--links">
                    <a href="/conditions-generales-de-vente">Conditions générales de vente</a>
                    <a href="/mentions-legales">Mentions légales</a>
                    <a href="/politique-de-confidentialite">Politique de confidentialité</a>
                    <a href="/contact">Contact</a>
                </nav>
            </div>
            <div class="footer-bottom">
                <p>2025 O'Coffee. Tous droits réservés.</p>
            </div>
        </footer>
    </div>
</body>
</html>