    <%- include('partials/header') %>
        <main>
            <section class="page--catalogue">
                    <div class="produits">
                        <div class="produit">
                            <h4>nom de l'article</h4>
                            <p>Lorem ipsum, dolor sit amet 
                                consectetur adipisicing elit. 
                                Eius mollitia veritatis</p>
                            <a href="#">Catalogue</a>
                        </div>                       
                    </div>
            </section>
        </main>
        <%- include('partials/footer') %>
    </div>
</body>
</html>