<%- include('partials/header') %>

        <main>
            <section class="page--catalogue">
                <h3>Notre Catalogue</h3>
                    <div class="category">
                        <label for="category"></label>
                        <select id="category" name="category">
                            <option value="all">Sélectionnez une catégorie</option>
                            <option value="option1">option1</option>
                            <option value="option2">option2</option>
                            <option value="option3">option2</option>
                        </select>
                    </div>
                    <div class="produits">
                        <div class="produit">
                            <p>Lorem ipsum, dolor sit amet 
                                consectetur adipisicing elit. 
                                Eius mollitia veritatis
                                ipsum, dolor sit amet 
                                consectetur dipisicing elit. 
                                Eius mollitia</p>
                            <a href="./article.ejs">Découvrir</a>
                        </div>                      
                    </div>
                <a class="display--all--link" href="./catalogue.ejs">Voir tout</a>
            </section>
        </main>

<%- include('partials/footer') %>
